.App {
  text-align: center;
}

body {
  background:rgb(240, 234, 234);
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background:rgb(55, 99, 119);

}

.nav-links{
  width: 50%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  list-style:none

}

main{
  display: flex;
  justify-content:space-around;
  align-items: center;
}